.nav-tabs {
    margin: .3rem .3rem 0 .3rem;
}
.tab-content {
    border-color:#ddd;
    margin: 0 .3rem .3rem .3rem;
}
#nav-tabContent .form-group {
    padding: 0 .4rem 0 .4rem;
    align-items: center;
}
#main-container{
    flex:1 1 auto;
}
/*#goto_main {
    background: url(../images/Lesser_Coat_of_Arms_of_Ukraine.svg) no-repeat center;
}*/
header {
    background: gray;
    min-height: 4rem;
}