@page
@model BMorphAnalyzeModel
@{
        <form class="row">
            <label class="col-6">Вихідний текст</label>
            <label class="col-6">Результат</label>
        </form>
        <div class="row">
            <div class="col-6">
                <textarea class="form-control"></textarea>
            </div>
            <div class="col-6">
                <textarea class="form-control"></textarea>
            </div>
        </div>
}
