@page
@model TextAnalyzeModel
@{
    <form class="row pb-2">
            <div class="col-md-6 d-flex flex-column">
                <label>Вихідний текст</label>
                <textarea id="initialText" class="form-control h-100"></textarea>
            </div>
            <div class="col-md-6  d-flex flex-column">
                <label>Результат</label>
                <textarea id="analyseResult" class="form-control h-100"></textarea>
            </div>
        
    </form>
}
