@using mphdict.Models.morph
@model mphweb.Models.grdictParams

<ul id="portrait-display-type">
    <li id="list-view" class="active-sel-tab">
        <a href="#">Реєстр</a>
    </li>
    <li id="entry-view">
        <a href="#">Стаття</a>
    </li>
</ul>
