<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../wwwroot/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../wwwroot/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../wwwroot/css/style.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="goto_main">

            </div>
            <div id="main-name">
                Назва системи
            </div>
            <div id="logoff">
                <a href="#iworking" title="Вихід"></a>
            </div>
        </header>
        <main>
            <nav>
                <div id="search-block"></div>
                <ul id="display-type">

                </ul>
                <ul id="words-list">

                </ul>
                <div id="list-control">

                </div>
            </nav>
            <article>
                <header>

                </header>
                <section>

                </section>
                <footer>

                </footer>
            </article>
            <aside>

            </aside>
        </main>
        <footer id="mainfooter">
        </footer>
    </div>

    <div class="modal" id="?" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <div class="head">Про систему</div>
                <a href="#" title="Закрити" aria-hidden="true"></a>
            </div>
            <div class="modal-body">
                <p style="text-align:center;"><b>КОНТЕНТ ВІКНА</b></p>
                <p style="text-align:center;"><b>ІНФОРМАЦІЯ ПРО СИСТЕМУ</b></p>
                <p style="text-align:center;"><b>ДОПОМОГА КОРИСТУВАЧУ</b></p>
                <p>&nbsp;&nbsp;</p>
                <p>Система надає on-line доступ до порядку денного пленарного засідання.</p>
                <p>&nbsp;&nbsp;</p>
                <p>Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.</p>
                <p>Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.</p>
                <p>&nbsp;&nbsp;</p>
                <p>&nbsp;&nbsp;</p>
                <p>Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.Система надає on-line доступ до порядку денного пленарного засідання.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn-blue" id="iOk">Так</a>
                <a href="#" class="btn-blue" id="iCancel">Вихід</a>
            </div>
        </div>
    </div>

    <div class="modal" id="iworking" aria-hidden="true">
        <div class="weqwe">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
            <!--<div>Зачекайте, будь ласка, виконується запит...</div>
            <progress></progress>-->
        </div>
    </div>
</body>
</html>